.ranking-page {
  padding: 20px;
}

.ranking-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 가로 4개 */
  grid-gap: 20px;
}

.ranking-item {
  background-color: #f8f9fa;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.ranking-image {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  object-fit: cover;
}

.ranking-details {
  text-align: center;
  margin-top: 10px;
}

.ranking-details h3 {
  margin: 10px 0;
}

.ranking-details p {
  margin: 5px 0;
}
